# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
db.sqlite3
media/
staticfiles/

# Virtualenv
venv/
.env

# VSCode / PyCharm
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db


# Django Migrations
**/migrations/
!**/migrations/__init__.py